.home-logo {
	max-height: calc(100vh - 104px);
}

button {
  outline: none !important;
}

.main-container {
  position: absolute;
  top: 104px;
  left: 0;
  width: 100%;
  height: calc(100% - 104px);
  // overflow: auto;
  perspective: 1000px;
  backface-visibility: hidden;
  // opacity: 0;
  transform-origin: 50% 0;
	transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
	padding: 20px;
	
	@media only screen and (min-width: 768px) {
		padding-left: 70px;
		padding-right: 70px;
	}
	
  &.is-ready {
    opacity: 1;
  }

  &.is-hidden {
    opacity: .5;
    transform: translate(0, 0%) scale(0.95);
    transform: translate3d(0, 0%, 0) scale(0.95);
  }

  > * {
    backface-visibility: hidden;
  }
}
